//*****************************************************
//*   Variables
//*****************************************************

// Colors

$primary-color:#272727;
$secondary-color:#ff652f;
$hover-color: blue;
$text-color:#fff;

// font

$font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

//path
$pathname1: '../img/home.jpg';
$pathname2: '../img/contact.jpg';
$pathname3: '../img/project-01.jpg';
$pathname4: '../img/project-02.jpg';
$pathname5: '../img/project-03.jpg';
$pathname6: '../img/project-04.jpg';
$pathname7: '../img/project-05.jpg';
$pathname8: '../img/project-06.jpg';
$pathname9: '../img/project-07.jpg';
$pathname10: '../img/aboutme.jpg';
$pathname11: '../img/projects.jpg';
